.card-name{
    background-color: rgba(0, 0, 0, 0.26);
    width: 400px;
    height: 80px;
    display:flex;
    justify-content: center;
    color: rgb(238, 231, 225);
    align-items: center !important;
    margin-bottom: 2rem;
    font-family: var(--cursive-font);
    border-radius: 30px;
    padding: 10px;

    h2{
        margin: 10px;
        font-size: 3rem;
        color: rgb(254, 176, 112);
        
    }
}
