.card-name{
    background-color: rgba(0, 0, 0, 0.26);
    width: 400px;
    height: 80px;
    display:flex;
    justify-content: center;
    align-items: center !important;
    margin-bottom: 2rem;
    color:#D7C2B8;
    font-family: var(--cursive-font);
    border-radius: 30px;
    padding: 10px;

    h2{
        margin: 10px;
        font-size: 3rem;
    }
}
