.user-menu {
  position: relative;
  display: inline-block;
}

.avatar-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.avatar-image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 8px;
}

.dropdown {
  position: absolute;
  top: 110%;
  right: 0;
  background: black;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(4, 4, 4, 0.1);
  z-index: 100;
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 150px;
}

.dropdown li {
  padding: 10px;
  cursor: pointer;
}

.dropdown li:hover {
  background-color: #393737;
}
