:root {
  --primary-color: #1E1E1E;
  --secondary-color: #e5e2db;
  --accent-color: #eb5b19;

  /* Fuentes */
  --primary-font: "Inknut Antiqua", serif;
  --secondary-font: "Poppins", sans-serif;
  --botones-font: "Poppins", sans-serif;
  --cursive-font: "hurricane", sans-serif;
}

/* Aplica fondo y alto completo */
html, body, #root {
  height: 100%;
  width: 100%;
  font-family: var(--secondary-font);
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

/* Botones */
.btn-custom {
  background-color: var(--accent-color);
  color: var(--secondary-color);
  font-family: var(--botones-font);
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 8px;
}

/* Contenido general */
.content {
  background-color: var(--primary-color);
  min-height: 100vh; /* Esto asegura que ocupe toda la altura de la pantalla */
  padding: 2rem;
  box-sizing: border-box;
}
