.main-background {
  background-color: #000000;
  color: #FFFFFF;
  padding: 2rem; /* Agrega un poco de padding para mejor apariencia en dispositivos pequeños */
}

.text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: #fe843d;
  font-size: 2rem;
  font-weight: bold;
  font-family: var(--primary-font);
  margin-bottom: 1rem;
}

.paragraph {
  color: #ffffff;
  font-size: 1.2rem;
  margin-bottom: 2rem; 
  font-family: var(--secondary-font);
  text-align: center; /* Centra el texto para mejor apariencia en dispositivos móviles */
}

.btn-custom {
  padding: 0.5rem 2rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px; /* Añade un borde redondeado para mejorar el diseño */
}

.btn-custom:hover {
  background-color: #f17d42;
  transform: scale(1.05);
  color: #D3D3D3;
}

.image {
  background-color: #D3D3D3; 
  width: 100%;
  height: auto; /* Permite mantener la proporción de la imagen */
  border-radius: 10px;
  max-width: 500px; /* Limita el tamaño de la imagen en pantallas grandes */
  margin-top: 2rem; /* Agrega espacio en pantallas pequeñas */
  box-shadow: 0 0 20px rgba(168, 67, 9, 0.697);
}

/* Estilos responsivos */

/* Para pantallas de 1080px y menos */
@media (max-width: 1080px) {
  .title {
    font-size: 1.8rem;
  }

  .paragraph {
    font-size: 1.1rem;
  }

  .btn-custom {
    padding: 0.5rem 1.5rem;
    font-size: 0.95rem;
  }
}

/* Para pantallas de 768px y menos */
@media (max-width: 768px) {
  .main-background {
    padding: 1rem;
  }

  .title {
    margin-top: 1rem;
    font-size: 1.6rem;
  }

  .paragraph {
    font-size: 1rem;
  }

  .btn-custom {
    padding: 0.5rem 1.2rem;
    font-size: 0.9rem;
  }
}

/* Para pantallas de 480px y menos */
@media (max-width: 350px) {
  .main-background {
    padding: 1rem;
  }

  .title {
    font-size: 1.4rem;
  }

  .paragraph {
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
  }

  .btn-custom {
    padding: 0.5rem 1rem;
    font-size: 0.85rem;
    margin: 1rem;
  }

  .image {
    max-width: 100%; /* Asegura que la imagen se ajuste a pantallas pequeñas */
  }
}
